{{!-- BEGIN-SNIPPET scrolling-table --}}
{{#standard-scrollable height='65vh'}}
  {{#light-table table as |t|}}

    {{!--
      In order for `fa-sort-asc` and `fa-sort-desc` icons to work,
      you need to have ember-font-awesome installed or manually include
      the font-awesome assets, e.g. via a CDN.
    --}}

    {{t.head
      onColumnClick=(action 'onColumnClick')
      iconSortable='fa fa-sort'
      iconAscending='fa fa-sort-asc'
      iconDescending='fa fa-sort-desc'
    }}

    {{#t.body
      canSelect=false
      onScrollTo=onScrollTo
      onScrollToRow=onScrollToRow
      onScroll=(action (mut currentScrollOffset))
      onScrolledToBottom=(action 'onScrolledToBottom')
      as |body|
    }}
      {{#if isLoading}}
        {{#body.loader}}
          {{table-loader}}
        {{/body.loader}}
      {{/if}}
    {{/t.body}}

    {{#t.foot as |columns|}}
      <tr>
        <td colspan={{columns.length}}>
          <form class="form-inline" onsubmit="return false;">
            <div class="form-group">
              <label>
                Current Scroll Position:
              </label>
              <span class="form-control-static">
                {{if (eq currentScrollOffset null) 'N/A' (concat currentScrollOffset 'px')}}
              </span>
            </div>

            <div class="form-group">
              <label for="onScrollTo">
                Scroll To:
              </label>
              {{one-way-input
                update=(action (mut onScrollTo))
                value=onScrollTo
                class="form-control"
                name="onScrollTo"
                type="number"
                min=0
                step=10
              }}
            </div>

            <div class="form-group">
              <label for="onScrollToRow">
                Scroll To Row:
              </label>
              {{#one-way-select selectedValue
                options=table.visibleRows
                value=onScrollToRow
                update=(action (mut onScrollToRow))
                class="form-control"
                name="onScrollToRow"
                as |row|
              }}
                {{row.id}} - {{row.firstName}} {{row.lastName}}
              {{/one-way-select}}
            </div>
          </form>
        </td>
      </tr>
    {{/t.foot}}

  {{/light-table}}
{{/standard-scrollable}}
{{!-- END-SNIPPET --}}
